/////////////////////////////////////////////////////////////////////////////
//
// Manifest
//

#ifdef EXE_VERSION
1                       24      MOVEABLE PURE   "AkelPad.exe.manifest"
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION AKELPAD_ID
 PRODUCTVERSION 0,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090000"
        BEGIN
            VALUE "FileDescription", RC_VERSIONDESCRIPTION "\0"
            VALUE "FileVersion", "0, 0, 0, 0\0"
            VALUE "LegalCopyright", RC_VERSIONCOPYRIGHT "\0"
            VALUE "OriginalFilename", RC_VERSIONNAME "\0"
            VALUE "ProductName", "AkelPad\0"
            VALUE "ProductVersion", "0, 0, 0, 0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 0
    END
END
