#include <winresrc.h>
#include "resource.h"

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

IDI_XBRACKETS ICON DISCARDABLE "XBrackets.ico"

IDD_SETTINGS DIALOGEX 0,0,210,277
CAPTION "XBrackets Settings"
FONT 8,"MS Shell Dlg"
STYLE WS_CAPTION|WS_POPUP|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT|DS_FIXEDSYS
BEGIN
  CONTROL "OK",IDC_BT_OK,"Button",BS_DEFPUSHBUTTON|WS_CHILD|WS_VISIBLE|WS_TABSTOP,52,258,50,13
  CONTROL "Cancel",IDC_BT_CANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,108,258,50,13
  CONTROL "Static",IDC_ST_PLUGINSTATE,"Static",WS_CHILD|WS_VISIBLE|SS_CENTER|SS_CENTERIMAGE|SS_NOTIFY,7,7,196,13,WS_EX_STATICEDGE
  CONTROL "Treat "" "" as brackets",IDC_CH_BRACKETS_DODOUBLEQUOTE,"Button",WS_VISIBLE|BS_AUTO3STATE|WS_TABSTOP,7,26,161,9
  CONTROL "Treat ' ' as brackets",IDC_CH_BRACKETS_DOSINGLEQUOTE,"Button",WS_VISIBLE|BS_AUTO3STATE|WS_TABSTOP,7,38,161,9
  CONTROL "Treat < > as brackets",IDC_CH_BRACKETS_DOTAG,"Button",WS_VISIBLE|BS_AUTO3STATE|WS_TABSTOP,7,50,111,9
  CONTROL "< />",IDC_CH_BRACKETS_DOTAG2,"Button",WS_VISIBLE|BS_AUTOCHECKBOX|WS_TABSTOP,121,50,41,9
  CONTROL "Only if file extension contains:",IDC_CH_BRACKETS_DOTAGIF,"Button",WS_VISIBLE|BS_AUTOCHECKBOX|WS_TABSTOP,19,62,161,9
  CONTROL "",IDC_ED_BRACKETS_DOTAGIF,"Edit", WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,19,74,169,13,WS_EX_CLIENTEDGE
  CONTROL "Skip escaped bracket characters: \\[, \\} etc. in:",IDC_CH_BRACKETS_SKIPESCAPED1,"Button",WS_VISIBLE|BS_AUTOCHECKBOX|WS_TABSTOP,7,92,198,9
  CONTROL "",IDC_ED_BRACKETS_SKIPESCAPED1,"Edit", WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,19,104,169,13,WS_EX_CLIENTEDGE
  CONTROL "(c;cc;cpp;cxx;h;hh;hpp;hxx - hardcoded)",IDC_ST_BRACKETS_SKIPESCAPED1,"Static",WS_CHILD|WS_VISIBLE,20,118,188,8
  CONTROL "Skip brackets after // in these files:",IDC_CH_BRACKETS_SKIPCOMMENT1,"Button",WS_VISIBLE|BS_AUTOCHECKBOX|WS_TABSTOP,7,132,194,9
  CONTROL "",IDC_ED_BRACKETS_SKIPCOMMENT1,"Edit", WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,19,144,169,13,WS_EX_CLIENTEDGE
  CONTROL "(c;cc;cpp;cxx;h;hh;hpp;hxx;pas - hardcoded)",IDC_ST_BRACKETS_SKIPCOMMENT1,"Static",WS_CHILD|WS_VISIBLE,20,158,188,8
  CONTROL "",IDC_STATIC,"Static",WS_VISIBLE|SS_ETCHEDFRAME,4,171,202,1
  CONTROL "Autocomplete brackets ([{""""}])",IDC_CH_BRACKETS_AUTOCOMPLETE,"Button",WS_VISIBLE|BS_AUTOCHECKBOX|WS_TABSTOP,7,178,160,9
  CONTROL "Even if corresponding right bracket exists",IDC_CH_BRACKETS_RIGHTEXISTS_OK,"Button",WS_VISIBLE|BS_AUTOCHECKBOX|WS_TABSTOP,19,190,186,9
  CONTROL "",IDC_STATIC,"Static",WS_VISIBLE|SS_ETCHEDFRAME,4,205,202,1
  CONTROL "Highlight brackets",IDC_CH_BRACKETS_HIGHLIGHT,"Button",WS_VISIBLE|BS_3STATE|WS_TABSTOP,7,212,92,9
  CONTROL "In visible area only",IDC_CH_BRACKETS_HIGHLIGHT_VISIBLEAREA,"Button",WS_VISIBLE|BS_AUTOCHECKBOX|WS_TABSTOP,102,212,104,9
  CONTROL "",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE,16,227,90,15,WS_EX_STATICEDGE
  CONTROL "Brackets colour",IDC_CH_BRACKETCOLOR,"Button",WS_VISIBLE|BS_AUTOCHECKBOX|WS_TABSTOP,19,230,71,9
  CONTROL "",IDC_BT_BRACKETCOLOR,"Button",BS_OWNERDRAW|WS_TABSTOP,92,228,13,12,WS_EX_STATICEDGE
  CONTROL "",IDC_STATIC,"Static",WS_CHILD|WS_VISIBLE,110,227,90,15,WS_EX_STATICEDGE
  CONTROL "Background",IDC_CH_BKGNDCOLOR,"Button",WS_VISIBLE|BS_AUTOCHECKBOX|WS_TABSTOP,113,230,71,9
  CONTROL "",IDC_BT_BKGNDCOLOR,"Button",BS_OWNERDRAW|WS_TABSTOP,186,228,13,12,WS_EX_STATICEDGE
  CONTROL "",IDC_STATIC,"Static",WS_VISIBLE|SS_ETCHEDFRAME,4,249,202,1
END

VS_VERSION_INFO VERSIONINFO
FILEVERSION 7, 7, 0, 0
PRODUCTVERSION 7, 7, 0, 0
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "042204B0"
    BEGIN
      VALUE "Comments", "The wall is thin - and our foreheads are hard :-)\0"
      VALUE "CompanyName", "Full of Madness Co.\0"
      VALUE "FileDescription", "XBrackets plugin for AkelPad text editor\0"
      VALUE "FileVersion", "7, 7, 0, 0\0"
      VALUE "InternalName", "XBrackets\0"
      VALUE "LegalCopyright", "(C) Oct 2006 - Apr 2021, Vitaliy Dovgan aka DV\0"
      VALUE "OriginalFilename", "XBrackets.dll\0"
      VALUE "ProductName", " XBrackets plugin for AkelPad text editor\0"
      VALUE "ProductVersion", "7, 7, 0, 0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0422, 0x04B0
  END
END

